
# dependencies
node_modules/

build/

#environment variables
.env

#coverage reports
coverage/

#cypress videos and images
courseApplication/frontend/cypress/videos/
courseApplication/frontend/cypress/screenshots/