#app-content{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.seperator-large{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.blueBox{
    border: #057afc;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.notification{
    min-height: 1rem;
}



body{
    background-color: #ffffff;
    background-image: url(../../images/cc0/StockSnap_SIHGH0ASFN.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;


}

.background{
    background-color: #70a6f7;
}    

.secondary{
    background-color: #d5e1fa;
}

.primary{
    background-color: #ffffff;
}

.action-button{
    background-color: #03fc03;
    border: solid;
    border-width: 1px;
    border-color: #030303;
    padding: 0.25rem;
    text-decoration: none;
    margin-right: 1.0rem;
}

.dangerous-button{
    background-color: #f56565;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: #000000;
    padding: 0.25rem;
    margin-right: 1.0rem;
}

.container{
    padding: 1rem;
    margin: 0.5rem;
}