#appContent{
    margin-left: 20vw;
    margin-right: 20vw;
}

.seperator-large{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.blueBox{
    border: #057afc;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.notification{
    min-height: 1rem;
}

body{
    background-color: #3C6255;
}

/*
backround: color for objects not in focus, 
secondary: color for objects that should grab attention but not the main point of the page
primary: color for objects of interest where the user can do something, such as navigate, or type/read important information
*/
body{
    background-color: #2f4940;
}

.background{
    background-color: #35574b;
}    

.secondary{
    background-color: #567c64;
}

.primary{
    background-color: #a3bb85;
}