.courseShowCase{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: lightgray;
    padding: 10px;
}

.submissionsListing{
   
}

.taskListing{
    background-color: lightblue;
}

.task{
    background-color: white;
    margin: 2%;
    margin-left: 0px;
    padding: 2%;
}