

.accountCreationSection{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: lightblue;
    border-width: 1px;
    border-style: solid;
}


.accountCreationForm{
    display: flex;
    flex-direction: column;
}