

.loginSection{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    border: #057afc;
    border-width: 1px;
    border-style: solid;
    height: auto;
}

.loginForm{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.createUserPromt{

}