
.login-header{
    
}



.login-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.login-section{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.create-user-promt{
    padding: 1rem;
}