.month{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'sun mon tue wed thur fri sat';
    grid-gap: 0.5rem;
    padding: 1rem;
}

.current-date{
    border: solid 1px black;
}

.day{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


.course-tasks-day-showcase{
    background-color: lightblue;
}

.course-tasks-day-showcase:hover{
    cursor: pointer;
}

.course-tasks-dropdown{
    background-color: white;
    position: absolute;
    padding: 1rem;
    border: solid 1px black;
    
}
/*sun*/
.day0{
    grid-column: 7;
}
/*mon*/
.day1{
    grid-column: 1;
}
/*tues*/
.day2{
    grid-column: 2;
}
/*wed*/
.day3{
    grid-column: 3;
}
/*thu*/
.day4{
    grid-column: 4;
}
/*fri*/
.day5{
    grid-column: 5;
}
/*sat*/
.day6{
    grid-column: 6;
}