.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
    position: sticky;
    top: 0px;
}

.navbar-content{
    display: flex;
    font-size: 1.5rem;
    padding: 0.5rem;
   
}

.navbar-link{
    margin-left: 1rem;
    text-decoration: none;
}