
.notification{
    position: absolute;
    top: 100%;
}

.successNotification{
    color: green;
    height: auto;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    border: solid;
    border-width: 1px;
    border-color: green;
}

.errorNotification{
    color: red;
    height: auto;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    border: solid;
    border-width: 1px;
    border-color: red;
}