
.notification{
    position: absolute;
    top: 100%;
    overflow: hidden;
}

.successNotification{
    color: green;
    height: auto;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    border: solid;
    border-width: 1px;
    border-color: green;
    animation-name: dropdown;
    animation-duration: 0.1s;
    animation-timing-function: linear;
}

.errorNotification{
    color: red;
    height: auto;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    border: solid;
    border-width: 1px;
    border-color: red;
    animation-name: dropdown;
    animation-duration: 0.1s;
    animation-timing-function: linear;
}

@keyframes dropdown {
    0%   {height: 0px;}
    10%  {height: 0.1rem;}
    25%  {height: 0.25rem;}
    50%  {height: 0.50rem;}
    75%  {height: 0.75rem;}
    100% {height: auto}
}